# system authorization information
auth --enableshadow --passalgo=sha512

# use text mode installer
text

# reboot and eject disc after installation
reboot --eject

# use ISO instalation
cdrom

# run the setup agent on first boot
firstboot --disable
ignoredisk --only-use=sda

# Keyboard layouts
keyboard --vckeymap=us --xlayouts=us

# System language
lang en_US.UTF-8

# Enable SELinux
selinux --enforcing

# Network information
network --hostname=master-server.lokal

# Root password [master]
rootpw --iscrypted $6$JNhgtyGHty65%4rt$UYPEV4hFDcaGkD4ZJOtzq2/I7plBz2h8ZUA.T3.rt41QI/WTOh75VtuCiL3ygpcKXBOt0FogMFbFJ1DxoEu3F.

# System timezone
timezone Asia/Jakarta --isUtc --nontp

# Create system administrator user
user --groups=wheel --name=master --iscrypted --password=$6$JNhgtyGHty65%4rt$UYPEV4hFDcaGkD4ZJOtzq2/I7plBz2h8ZUA.T3.rt41QI/WTOh75VtuCiL3ygpcKXBOt0FogMFbFJ1DxoEu3F. --gecos="Master"

# System bootloader configuration
bootloader --location=mbr --boot-drive=sda

# Partition clearing information
clearpart --all --initlabel

# 10G /dev/sda
# Create /boot dan swap partition
part /boot --fstype="ext4" --ondisk=sda --size=200
part swap --fstype="swap" --ondisk=sda --size=1000
# Create physical volume with 9G
part pv.01 --fstype="ext4" --ondisk=sda --size=1 --grow
# Create volume group
volgroup centos pv.01
# Create lv
logvol / --fstype="ext4" --size=1 --grow --name=root --vgname=centos

%packages --ignoremissing
    @core
    system-config-firewall-base
    kexec-tools
%end

# %post
#     echo "master ALL=(ALL) NOPASSWD:ALL" >> /etc/sudoers
# %end
